@import "./base/bootstrap.scss";
@import "./base/bootstrap-extended.scss";
@import "./base/colors.scss";
@import "./base/components.scss";

// Themes
@import "./base/themes/dark-layout.scss";
@import "./base/themes/bordered-layout.scss";
@import "./base/themes/semi-dark-layout.scss";
// @import './base/custom-rtl.scss';

// React Specific
@import "react/index";

// .scroller {
//   overflow-y: scroll;
// }

* {
  font-family: Poppins !important;
}

.letter-spacing {
  letter-spacing: 1px;
}
.common_button {
  background: linear-gradient(15deg, #8aecff, #f3acff, #ffd840) !important;
  border: none !important;
}

input:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.otp span {
  font-size: 14px !important;
  //  color: red !important;
  font-family: "Montserrat", Helvetica, Arial, serif !important;
  background: transparent;
}

.blue {
  color: #0c6bcb;
}

.fw-600 {
  font-weight: 600;
}

.w-25 {
  width: 25%;
}

.w-15 {
  width: 15%;
}

.w-33 {
  width: 33%;
}

.w-16 {
  width: 16%;
}

.w-20 {
  width: 20%;
}

.w-33 {
  width: 33%;
}
.bg-gray {
  background-color: rgb(250, 245, 245);
}

.mark {
  position: absolute;
  top: -7px;
  right: 2px;
  background-color: transparent;
}

.validation {
  margin-top: 5px;
  // text-align: end;
  /* margin-left: auto; */
  color: #ea5455;
  font-size: 12px;
}

.in {
  // .css-1eyvi4t-control
  border-color: #ea5455 !important;
  border-radius: 4px !important;
}

.sale {
  border: none;
}

.paypal-overlay-context-popup {
  display: none !important;
}
.paypal-button-label-container {
  display: none !important;
}

.buttons-container .paypal-button-number-1 {
  display: none !important;
}

.paypal-button-row.paypal-button-layout-vertical:last-of-type {
  width: 100px !important;
}

.paypal-buttons {
  width: 107px !important;
}

.dropZone {
  height: 100px;
  width: 100%;
  border: 1px solid #d8d6de;
  border-radius: 0.357rem;
  display: grid;
  place-content: center;
  border-style: dashed;
}

.header-navbar .navbar-container ul.navbar-nav li.dropdown-user .dropdown-menu {
  width: 13rem !important;
}

.labelFile {
  top: 0%;
  cursor: pointer;
  // left: 45%;
  height: 175px;
  width: 170px;
}

.profilee {
  display: grid;
  place-items: center;
  height: 100%;
}
