@import "../node_modules/prismjs/themes/prism-tomorrow";
@import "./assets/scss/app.scss";

* {
  font-family: "Montserrat", Helvetica, Arial, serif !important;
}

.text-center {
  text-align: center;
}
.d-flex {
  display: flex;
}

.w-4 {
  width: 4em !important;
}

input:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.otp span {
  font-size: 14px !important;
  //  color: red !important;
  font-family: "Montserrat", Helvetica, Arial, serif !important;
  background: transparent;
}

.scroller {
  overflow: hidden;
  overflow-y: scroll;
}

